.bank {
  width: 200px;
  aspect-ratio: 482/719;
  border-radius: 4px;
  background-image: url("img/baseCards.jpg");
  background-size: 700% 400%;
  background-position: -600% -200%;
  position: relative;
}

.player_contents {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.player_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.player_names {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.opponent_name {
  width: 200px;
  display: flex;
  justify-content: center;
}

.player_area_name {
  width: 400px;
  display: flex;
  justify-content: center;
}

.turnip {
  width: 60px;
  aspect-ratio: 495/504;
  background-image: url("img/turnip.png");
  background-size: 100% 100%;
}

.turnip_0 {
  position: absolute;
  top: 60px;
  left: 128px;
}

.turnip_1 {
  position: absolute;
  top: 89.5px;
  left: 82px;
}

.turnip_2 {
  position: absolute;
  top: 119px;
  left: 130px;
}

.turnip_3 {
  position: absolute;
  top: 148.5px;
  left: 82px;
}

.turnip_4 {
  position: absolute;
  top: 178px;
  left: 128px;
}

.relic {
  width: 60px;
  aspect-ratio: 1;
  position: absolute;
  background-image: url("img/relics.png");
  background-size: 300% 100%;
  transform: scaleX(-1);
  left: 12px;
}

.relic_0 {
  top: 38px;
  background-position-x: 0%;
}

.relic_1 {
  top: 107.5px;
  background-position-x: -100%;
}

.relic_2 {
  top: 177px;
  background-position-x: -200%;
}

.hand-stock .game-card:hover {
  z-index: 1;
}

.hand-stock.floating {
  bottom: calc(var(--bga-cards_hand-stock-floating-height) - var(--bga-cards_hand-stock-height) - 200px) !important;
  transition: all 0.8s ease;
}
.hand-stock.floating:hover {
  bottom: calc(var(--bga-cards_hand-stock-floating-height) - var(--bga-cards_hand-stock-height)) !important;
}

.stockpile {
  width: 200px;
  aspect-ratio: 482/719;
  display: flex;
  align-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.hidden {
  opacity: 0;
}

.selected, .selectable {
  outline-width: 3px;
  outline-style: solid;
  cursor: pointer;
}

.selected {
  outline-color: red;
}
.selected.game-card-front {
  transform: translateY(calc(var(--bga-cards_card-height) / -5));
}

.selectable {
  outline-color: black;
}
.selectable:hover {
  outline-color: red;
}
