.bank {
  width: 200px;
  aspect-ratio: 482/719;
  border-radius: 4px;
  background-image: url("img/baseCards.jpg");
  background-size: 700% 400%;
  background-position: -600% -200%;
}

.player_contents {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.player_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
