.bank {
  width: 200px;
  aspect-ratio: 482/719;
  border-radius: 4px;
  background-image: url("img/baseCards.jpg");
  background-size: 700% 400%;
  background-position: -600% -200%;
  position: relative;
}

.player_contents {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.player_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.player_names {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.opponent_name {
  width: 200px;
  display: flex;
  justify-content: center;
}

.player_area_name {
  width: 410px;
  display: flex;
  justify-content: center;
  position: relative;
}

.turnip {
  width: 60px;
  aspect-ratio: 495/504;
  background-image: url("img/turnip.png");
  background-size: 100% 100%;
  filter: drop-shadow(1px 1px 1px black);
}

.turnip_wrap_0 {
  position: absolute;
  top: 60px;
  left: 128px;
  background: none !important;
}

.turnip_wrap_1 {
  position: absolute;
  top: 89.5px;
  left: 82px;
  background: none !important;
}

.turnip_wrap_2 {
  position: absolute;
  top: 119px;
  left: 130px;
  background: none !important;
}

.turnip_wrap_3 {
  position: absolute;
  top: 148.5px;
  left: 82px;
  background: none !important;
}

.turnip_wrap_4 {
  position: absolute;
  top: 178px;
  left: 128px;
  background: none !important;
}

.relic {
  width: 60px;
  aspect-ratio: 1;
  position: absolute;
  background-image: url("img/relics.png");
  background-size: 300% 100%;
  transform: scaleX(-1);
  left: 12px;
}

.relic_0 {
  top: 38px;
  background-position-x: 0%;
}

.relic_1 {
  top: 107.5px;
  background-position-x: -100%;
}

.relic_2 {
  top: 177px;
  background-position-x: -200%;
}

.hand-stock .game-card:hover {
  z-index: 1;
}

@media screen and (min-width: 840px) {
  .hand-stock.floating {
    bottom: calc(var(--bga-cards_hand-stock-floating-height) - var(--bga-cards_hand-stock-height) - 200px) !important;
  }
}
.hand-stock.floating {
  transition: all 0.8s ease;
}
.hand-stock.floating:hover {
  bottom: calc(var(--bga-cards_hand-stock-floating-height) - var(--bga-cards_hand-stock-height)) !important;
}

.stockpile {
  width: 180px;
  aspect-ratio: 482/719;
  display: flex;
  align-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
}
.stockpile .turnip {
  margin-left: -20px;
}

.hidden {
  opacity: 0;
}

.selected, .selectable {
  outline-width: 3px;
  outline-style: solid;
  cursor: pointer;
}

.selected {
  outline-color: red;
}

.hand-stock .selected.game-card-front {
  transform: translateY(calc(var(--bga-cards_card-height) / -5));
}

.selectable {
  outline-color: black;
}
.selectable:hover {
  outline-color: red;
}

.exhausted {
  transform: rotate(90deg);
  top: calc(100% + 10px);
  z-index: -1;
  width: 200px !important;
}

mark.Merchant {
  background-color: #eded1e;
}
mark.Raider {
  background-color: #ef0d0d;
}
mark.Wall {
  background-color: #00aaff;
}
mark.Farmer {
  background-color: #0ab20a;
}

.againstCard {
  position: absolute;
  height: 100px;
  aspect-ratio: 482/719;
  background-color: red;
  top: 63px;
  background-image: url("img/baseCards.jpg");
  background-size: 700% 400%;
  border-radius: 4px;
}
.againstCard.left {
  left: 20px;
}
.againstCard.right {
  right: 20px;
}
.againstCard {
  opacity: 0.5;
  transition: all 0.5s ease;
}
.againstCard:hover {
  opacity: 1;
}
.againstCard.imgPos_0 {
  background-position: 0% 0%;
}
.againstCard.imgPos_1 {
  background-position: 0% -100%;
}
.againstCard.imgPos_2 {
  background-position: 0% -200%;
}
.againstCard.imgPos_3 {
  background-position: 0% -300%;
}
.againstCard.imgPos_4 {
  background-position: -100% 0%;
}
.againstCard.imgPos_5 {
  background-position: -100% -100%;
}
.againstCard.imgPos_6 {
  background-position: -100% -200%;
}
.againstCard.imgPos_7 {
  background-position: -100% -300%;
}
.againstCard.imgPos_8 {
  background-position: -200% 0%;
}
.againstCard.imgPos_9 {
  background-position: -200% -100%;
}
.againstCard.imgPos_10 {
  background-position: -200% -200%;
}
.againstCard.imgPos_11 {
  background-position: -200% -300%;
}
.againstCard.imgPos_12 {
  background-position: -300% 0%;
}
.againstCard.imgPos_13 {
  background-position: -300% -100%;
}
.againstCard.imgPos_14 {
  background-position: -300% -200%;
}
.againstCard.imgPos_15 {
  background-position: -300% -300%;
}
.againstCard.imgPos_16 {
  background-position: -400% 0%;
}
.againstCard.imgPos_17 {
  background-position: -400% -100%;
}
.againstCard.imgPos_18 {
  background-position: -400% -200%;
}
.againstCard.imgPos_19 {
  background-position: -400% -300%;
}
.againstCard.imgPos_20 {
  background-position: -500% 0%;
}
.againstCard.imgPos_21 {
  background-position: -500% -100%;
}
.againstCard.imgPos_22 {
  background-position: -500% -200%;
}
.againstCard.imgPos_23 {
  background-position: -500% -300%;
}

.hiddenImgPos {
  opacity: 0 !important;
}
