@use 'sass:list';
@use 'sass:math';

.bank {
    width: 200px;
    aspect-ratio: 482 / 719;
    border-radius: 4px;

    background-image: url('img/baseCards.jpg');
    background-size: 700% 400%;
    // TODO allow 2 players
    background-position: -600% -200%;
    position: relative;
}

.player_contents {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.player_area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.player_area_name {
    width: 400px;
    display: flex;
    justify-content: center;
}

.turnip {
    width: 60px;
    aspect-ratio: 495 / 504;

    position: absolute;

    background-image: url('img/turnip.png');
    background-size: 100% 100%;
}

$left_pos: (128px, 82px, 130px, 82px, 128px);

@for $i from 0 through 4 {
    .turnip_#{$i} {
        top: calc($i * 29.5px + 60px);
        left: list.nth($left_pos, $i + 1);
    }
}

.relic {
    width: 60px;
    aspect-ratio: 1;

    position: absolute;

    background-image: url('img/relics.png');
    background-size: 300% 100%;
    transform: scaleX(-1);

    left: 12px;
}

@for $i from 0 through 2 {
    .relic_#{$i} {
        top: calc($i * 69.5px + 38px);

        background-position-x: $i * -100%;
    }
}

.hand-stock .game-card:hover {
    z-index: 1;
}

.hand-stock.floating {
    bottom: calc(var(--bga-cards_hand-stock-floating-height) - var(--bga-cards_hand-stock-height) - 200px) !important;
    transition: all 0.8s ease;

    &:hover {
        bottom: calc(var(--bga-cards_hand-stock-floating-height) - var(--bga-cards_hand-stock-height)) !important;;
    }
}

.stockpile {
    width: 200px;
    aspect-ratio: 482 / 719;
    position: relative;
}

.hidden {
    opacity: 0;
}

.selected, .selectable {
    outline-width: 3px;
    outline-style: solid;

    cursor: pointer;
}

.selected {
    outline-color: red;

    &.game-card-front {
        transform: translateY(calc(var(--bga-cards_card-height)/-5));
    }
}

.selectable {
    outline-color: black;

    &:hover {
        outline-color: red;
    }
}