.bank {
    width: 200px;
    aspect-ratio: 482 / 719;
    border-radius: 4px;

    background-image: url('img/baseCards.jpg');
    background-size: 700% 400%;
    // TODO allow 2 players
    background-position: -600% -200%;
}