@use 'sass:list';
@use 'sass:math';

.bank {
    width: 200px;
    aspect-ratio: 482 / 719;
    border-radius: 4px;

    background-image: url('img/baseCards.jpg');
    background-size: 700% 400%;
    // TODO allow 2 players
    background-position: -600% -200%;
    position: relative;
}

.player_contents {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.player_area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.player_names {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.opponent_name {
    width: 200px;
    display: flex;
    justify-content: center;
}

.player_area_name {
    width: 400px;
    display: flex;
    justify-content: center;
    position: relative;
}

.turnip {
    width: 60px;
    aspect-ratio: 495 / 504;

    background-image: url('img/turnip.png');
    background-size: 100% 100%;
}

$left_pos: (128px, 82px, 130px, 82px, 128px);

@for $i from 0 through 4 {
    .turnip_wrap_#{$i} {
        position: absolute;
        top: calc($i * 29.5px + 60px);
        left: list.nth($left_pos, $i + 1);
        background: none !important;
    }
}

.relic {
    width: 60px;
    aspect-ratio: 1;

    position: absolute;

    background-image: url('img/relics.png');
    background-size: 300% 100%;
    transform: scaleX(-1);

    left: 12px;
}

@for $i from 0 through 2 {
    .relic_#{$i} {
        top: calc($i * 69.5px + 38px);

        background-position-x: $i * -100%;
    }
}

.hand-stock .game-card:hover {
    z-index: 1;
}

.hand-stock.floating {
    @media screen and (min-width: 840px) {
        bottom: calc(var(--bga-cards_hand-stock-floating-height) - var(--bga-cards_hand-stock-height) - 200px) !important;        
    }
    transition: all 0.8s ease;

    &:hover {
        bottom: calc(var(--bga-cards_hand-stock-floating-height) - var(--bga-cards_hand-stock-height)) !important;;
    }
}

.stockpile {
    width: 180px;
    aspect-ratio: 482 / 719;
    display: flex;
    align-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;

    .turnip {
        margin-left: -20px;
    }
}

.hidden {
    opacity: 0;
}

.selected, .selectable {
    outline-width: 3px;
    outline-style: solid;

    cursor: pointer;
}

.selected {
    outline-color: red;
}

.hand-stock .selected {
    &.game-card-front {
        transform: translateY(calc(var(--bga-cards_card-height)/-5));
    }
}

.selectable {
    outline-color: black;

    &:hover {
        outline-color: red;
    }
}

.exhausted {
    transform: rotate(90deg);
    top: calc(100% + 10px);
    z-index: -1;
    width: 200px !important;
}

mark {
    &.Merchant {
        background-color: #eded1e;
    }

    &.Raider {
        background-color: #ef0d0d;
    }

    &.Wall {
        background-color: #00aaff;
    }

    &.Farmer {
        background-color: #0ab20a;
    }
}